*,
*:before,
*:after {
  box-sizing: border-box;
}
/**
    Breakpoint Variables

    [Description]
        Defines various breakpoints for use in media queries. Not all browsers support rem units in media queries, so we will use px for now.
**/
/**
    REM Mixins

    [Description]
        Shortcut for outputting rem units with pixel units as a fallback.

    [Example]
        .rem(font-size, 16);

        // Output:
        font-size: 16px;
        font-size: 1rem;
**/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.remove-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.alert a {
  color: white;
  text-decoration: underline;
}
.alert a i {
  font-size: 14px;
  font-size: 0.875rem;
  position: relative;
  top: -1px;
  top: -0.0625rem;
  left: 3px;
  left: 0.1875rem;
  display: inline-block;
}
